.mediaViewInfo {
  --web-view-name: otc;
  --web-view-id: otc;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-application: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: otc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#otc {
  position: absolute;
  width: 1920px;
  height: 1954px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: otc;
  --web-view-id: otc;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: width;
  --web-scale-on-resize: true;
  --web-application: true;
  --web-enable-deep-linking: true;
}
#Rectangle_34 {
  fill: rgba(48,152,183,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_34 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 1954px;
  left: 0px;
  top: 0px;
}
#Choco_M {
  position: absolute;
  width: 625.771px;
  height: 1037.068px;
  left: 1236px;
  top: -60px;
  overflow: visible;
}
#Layer_1 {
  position: absolute;
  width: 625.771px;
  height: 1037.068px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2640 {
  fill: rgba(229,204,204,1);
}
.Path_2640 {
  overflow: visible;
  position: absolute;
  width: 606.916px;
  height: 554.739px;
  left: 9.385px;
  top: 456.069px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_93 {
  fill: rgba(191,157,157,1);
}
.Ellipse_93 {
  position: absolute;
  overflow: visible;
  width: 625.599px;
  height: 360.757px;
  left: 0px;
  top: 270.955px;
}
#Path_2641 {
  fill: rgba(191,157,157,1);
}
.Path_2641 {
  overflow: visible;
  position: absolute;
  width: 625.599px;
  height: 218.607px;
  left: 0.086px;
  top: 619.916px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2642 {
  fill: rgba(191,157,157,1);
}
.Path_2642 {
  overflow: visible;
  position: absolute;
  width: 625.686px;
  height: 219.64px;
  left: 0.086px;
  top: 817.428px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2643 {
  fill: rgba(209,180,180,1);
}
.Path_2643 {
  overflow: visible;
  position: absolute;
  width: 572.562px;
  height: 206.122px;
  left: 25.83px;
  top: 286.022px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2644 {
  fill: rgba(84,56,56,1);
}
.Path_2644 {
  overflow: visible;
  position: absolute;
  width: 549.314px;
  height: 231.78px;
  left: 37.625px;
  top: 376.255px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2645 {
  fill: rgba(229,204,204,1);
}
.Path_2645 {
  overflow: visible;
  position: absolute;
  width: 21.267px;
  height: 212.838px;
  left: 76.456px;
  top: 44.255px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2646 {
  fill: rgba(191,157,157,1);
}
.Path_2646 {
  overflow: visible;
  position: absolute;
  width: 21.18px;
  height: 207.93px;
  left: 83.689px;
  top: 49.163px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2647 {
  fill: rgba(209,180,180,1);
}
.Path_2647 {
  overflow: visible;
  position: absolute;
  width: 52.99px;
  height: 63.957px;
  left: 80.378px;
  top: 215.781px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_94 {
  fill: rgba(226,226,226,1);
}
.Ellipse_94 {
  width: 54.243px;
  height: 30.651px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,94.5086,239.8661) rotate(-66.95deg);
  transform-origin: center;
}
#Path_2648 {
  fill: rgba(191,157,157,1);
}
.Path_2648 {
  overflow: visible;
  position: absolute;
  width: 103.576px;
  height: 123.824px;
  left: 87.393px;
  top: 206.798px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2649 {
  fill: rgba(229,204,204,1);
}
.Path_2649 {
  overflow: visible;
  position: absolute;
  width: 68.879px;
  height: 99.201px;
  left: 133.196px;
  top: 233.555px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2650 {
  fill: rgba(242,135,92,1);
}
.Path_2650 {
  overflow: visible;
  position: absolute;
  width: 396.488px;
  height: 388.263px;
  left: 109.777px;
  top: 179.477px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_95 {
  fill: rgba(255,164,136,1);
}
.Ellipse_95 {
  width: 258.471px;
  height: 146.197px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,324.6832,378.1835) rotate(-66.95deg);
  transform-origin: center;
}
#Path_2651 {
  fill: rgba(255,255,255,1);
}
.Path_2651 {
  overflow: visible;
  position: absolute;
  width: 104.438px;
  height: 151.739px;
  left: 409.833px;
  top: 378.514px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2652 {
  fill: rgba(191,157,157,1);
}
.Path_2652 {
  overflow: visible;
  position: absolute;
  width: 103.585px;
  height: 123.821px;
  left: 434.623px;
  top: 406.982px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2653 {
  fill: rgba(229,204,204,1);
}
.Path_2653 {
  overflow: visible;
  position: absolute;
  width: 68.88px;
  height: 99.201px;
  left: 480.779px;
  top: 433.737px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2654 {
  fill: rgba(191,157,157,1);
}
.Path_2654 {
  overflow: visible;
  position: absolute;
  width: 40.983px;
  height: 59.568px;
  left: 499.979px;
  top: 454.385px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2655 {
  fill: rgba(209,180,180,1);
}
.Path_2655 {
  overflow: visible;
  position: absolute;
  width: 52.87px;
  height: 63.988px;
  left: 506.777px;
  top: 460.616px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2656 {
  fill: rgba(226,226,226,1);
}
.Path_2656 {
  overflow: visible;
  position: absolute;
  width: 35.301px;
  height: 51.308px;
  left: 529.942px;
  top: 474.37px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2657 {
  fill: rgba(73,46,46,1);
}
.Path_2657 {
  overflow: visible;
  position: absolute;
  width: 256.895px;
  height: 335.364px;
  left: 133.998px;
  top: 234.592px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2658 {
  fill: rgba(229,204,204,1);
}
.Path_2658 {
  overflow: visible;
  position: absolute;
  width: 21.181px;
  height: 212.838px;
  left: 538.208px;
  top: 306.256px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2659 {
  fill: rgba(191,157,157,1);
}
.Path_2659 {
  overflow: visible;
  position: absolute;
  width: 21.18px;
  height: 207.93px;
  left: 545.44px;
  top: 311.163px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2660 {
  fill: rgba(244,233,233,1);
}
.Path_2660 {
  overflow: visible;
  position: absolute;
  width: 508.762px;
  height: 291.016px;
  left: 69.31px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2661 {
  fill: rgba(229,204,204,1);
}
.Path_2661 {
  overflow: visible;
  position: absolute;
  width: 487.237px;
  height: 319.257px;
  left: 69.31px;
  top: 12.398px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2662 {
  fill: rgba(191,157,157,1);
}
.Path_2662 {
  overflow: visible;
  position: absolute;
  width: 21.525px;
  height: 53.037px;
  left: 556.547px;
  top: 278.618px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_82 {
  filter: blur(20.789px);
  fill: rgba(121,66,40,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_82 {
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.902));
  position: absolute;
  overflow: visible;
  width: 812px;
  height: 940px;
  left: 1060px;
  top: 517px;
}
#Choco_M_bz {
  position: absolute;
  width: 625.771px;
  height: 1037.068px;
  left: 21px;
  top: 1028px;
  overflow: visible;
}
#Layer_1_b {
  position: absolute;
  width: 625.771px;
  height: 1037.068px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_2640_b {
  fill: rgba(229,204,204,1);
}
.Path_2640_b {
  overflow: visible;
  position: absolute;
  width: 606.916px;
  height: 554.739px;
  left: 9.385px;
  top: 456.069px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_93_b {
  fill: rgba(191,157,157,1);
}
.Ellipse_93_b {
  position: absolute;
  overflow: visible;
  width: 625.599px;
  height: 360.757px;
  left: 0px;
  top: 270.955px;
}
#Path_2641_b {
  fill: rgba(191,157,157,1);
}
.Path_2641_b {
  overflow: visible;
  position: absolute;
  width: 625.599px;
  height: 218.607px;
  left: 0.086px;
  top: 619.916px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2642_b {
  fill: rgba(191,157,157,1);
}
.Path_2642_b {
  overflow: visible;
  position: absolute;
  width: 625.686px;
  height: 219.64px;
  left: 0.086px;
  top: 817.428px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2643_b {
  fill: rgba(209,180,180,1);
}
.Path_2643_b {
  overflow: visible;
  position: absolute;
  width: 572.562px;
  height: 206.122px;
  left: 25.83px;
  top: 286.022px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2644_b {
  fill: rgba(84,56,56,1);
}
.Path_2644_b {
  overflow: visible;
  position: absolute;
  width: 549.314px;
  height: 231.78px;
  left: 37.625px;
  top: 376.255px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2645_b {
  fill: rgba(229,204,204,1);
}
.Path_2645_b {
  overflow: visible;
  position: absolute;
  width: 21.267px;
  height: 212.838px;
  left: 76.456px;
  top: 44.255px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2646_b {
  fill: rgba(191,157,157,1);
}
.Path_2646_b {
  overflow: visible;
  position: absolute;
  width: 21.18px;
  height: 207.93px;
  left: 83.689px;
  top: 49.163px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2647_b {
  fill: rgba(209,180,180,1);
}
.Path_2647_b {
  overflow: visible;
  position: absolute;
  width: 52.99px;
  height: 63.957px;
  left: 80.378px;
  top: 215.781px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_94_ca {
  fill: rgba(226,226,226,1);
}
.Ellipse_94_ca {
  width: 54.243px;
  height: 30.651px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,94.5086,239.8661) rotate(-66.95deg);
  transform-origin: center;
}
#Path_2648_cb {
  fill: rgba(191,157,157,1);
}
.Path_2648_cb {
  overflow: visible;
  position: absolute;
  width: 103.576px;
  height: 123.824px;
  left: 87.393px;
  top: 206.798px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2649_cc {
  fill: rgba(229,204,204,1);
}
.Path_2649_cc {
  overflow: visible;
  position: absolute;
  width: 68.879px;
  height: 99.201px;
  left: 133.196px;
  top: 233.555px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2650_cd {
  fill: rgba(242,135,92,1);
}
.Path_2650_cd {
  overflow: visible;
  position: absolute;
  width: 396.488px;
  height: 388.263px;
  left: 109.777px;
  top: 179.477px;
  transform: matrix(1,0,0,1,0,0);
}
#Ellipse_95_ce {
  fill: rgba(255,164,136,1);
}
.Ellipse_95_ce {
  width: 258.471px;
  height: 146.197px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1,0,0,1,324.6832,378.1835) rotate(-66.95deg);
  transform-origin: center;
}
#Path_2651_cf {
  fill: rgba(255,255,255,1);
}
.Path_2651_cf {
  overflow: visible;
  position: absolute;
  width: 104.438px;
  height: 151.739px;
  left: 409.833px;
  top: 378.514px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2652_cg {
  fill: rgba(191,157,157,1);
}
.Path_2652_cg {
  overflow: visible;
  position: absolute;
  width: 103.585px;
  height: 123.821px;
  left: 434.623px;
  top: 406.982px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2653_ch {
  fill: rgba(229,204,204,1);
}
.Path_2653_ch {
  overflow: visible;
  position: absolute;
  width: 68.88px;
  height: 99.201px;
  left: 480.779px;
  top: 433.737px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2654_ci {
  fill: rgba(191,157,157,1);
}
.Path_2654_ci {
  overflow: visible;
  position: absolute;
  width: 40.983px;
  height: 59.568px;
  left: 499.979px;
  top: 454.385px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2655_cj {
  fill: rgba(209,180,180,1);
}
.Path_2655_cj {
  overflow: visible;
  position: absolute;
  width: 52.87px;
  height: 63.988px;
  left: 506.777px;
  top: 460.616px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2656_ck {
  fill: rgba(226,226,226,1);
}
.Path_2656_ck {
  overflow: visible;
  position: absolute;
  width: 35.301px;
  height: 51.308px;
  left: 529.942px;
  top: 474.37px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2657_cl {
  fill: rgba(73,46,46,1);
}
.Path_2657_cl {
  overflow: visible;
  position: absolute;
  width: 256.895px;
  height: 335.363px;
  left: 133.998px;
  top: 234.592px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2658_cm {
  fill: rgba(229,204,204,1);
}
.Path_2658_cm {
  overflow: visible;
  position: absolute;
  width: 21.181px;
  height: 212.838px;
  left: 538.208px;
  top: 306.256px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2659_cn {
  fill: rgba(191,157,157,1);
}
.Path_2659_cn {
  overflow: visible;
  position: absolute;
  width: 21.18px;
  height: 207.93px;
  left: 545.44px;
  top: 311.164px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2660_co {
  fill: rgba(244,233,233,1);
}
.Path_2660_co {
  overflow: visible;
  position: absolute;
  width: 508.762px;
  height: 291.016px;
  left: 69.31px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2661_cp {
  fill: rgba(229,204,204,1);
}
.Path_2661_cp {
  overflow: visible;
  position: absolute;
  width: 487.237px;
  height: 319.257px;
  left: 69.31px;
  top: 12.398px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_2662_cq {
  fill: rgba(191,157,157,1);
}
.Path_2662_cq {
  overflow: visible;
  position: absolute;
  width: 21.525px;
  height: 53.037px;
  left: 556.547px;
  top: 278.618px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_81 {
  filter: blur(20.789px);
  fill: rgba(121,66,40,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_81 {
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.902));
  position: absolute;
  overflow: visible;
  width: 812px;
  height: 940px;
  left: 97px;
  top: 517px;
}
#Group_141 {
  position: absolute;
  width: 632px;
  height: 346px;
  left: 644px;
  top: 110px;
  overflow: visible;
}
#Group_139 {
  position: absolute;
  width: 632px;
  height: 346px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_72 {
  fill: rgba(185,86,78,1);
}
.Rectangle_72 {
  position: absolute;
  overflow: visible;
  width: 35px;
  height: 191px;
  left: 294px;
  top: 0px;
}
#Rectangle_70 {
  fill: rgba(185,86,78,1);
}
.Rectangle_70 {
  position: absolute;
  overflow: visible;
  width: 632px;
  height: 205px;
  left: 0px;
  top: 141px;
}
#Group_140 {
  position: absolute;
  width: 597.098px;
  height: 172.741px;
  left: 18px;
  top: 158px;
  overflow: visible;
}
#Rectangle_73 {
  fill: rgba(69,69,69,1);
}
.Rectangle_73 {
  position: absolute;
  overflow: visible;
  width: 597px;
  height: 172px;
  left: 0px;
  top: 0px;
}
#Path_2772 {
  opacity: 0.054;
  fill: rgba(255,255,255,1);
}
.Path_2772 {
  overflow: visible;
  position: absolute;
  width: 125.237px;
  height: 141.206px;
  transform: translate(-662px, -333px) matrix(1,0,0,1,676.0659,349.0684) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#OTC-CHOCO {
  left: 47.435px;
  top: 40.572px;
  position: absolute;
  overflow: visible;
  width: 503px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  color: rgba(255,255,255,1);
}
#Path_2771 {
  opacity: 0.16;
  fill: rgba(255,255,255,1);
}
.Path_2771 {
  overflow: visible;
  position: absolute;
  width: 260.556px;
  height: 172.428px;
  left: 336.542px;
  top: 0.313px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_116 {
  position: absolute;
  width: 545.751px;
  height: 763.456px;
  left: 193.249px;
  top: 506px;
  overflow: visible;
}
#Rectangle_25 {
  fill: rgba(185,86,78,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_25 {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 590.751px;
  height: 664.055px;
  left: 0px;
  top: 144.401px;
}
#Group_43 {
  position: absolute;
  width: 147.354px;
  height: 147.354px;
  left: 197.699px;
  top: 54.141px;
  overflow: visible;
}
#Ellipse_50_c {
  opacity: 0.543;
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_50_c {
  position: absolute;
  overflow: visible;
  width: 147.354px;
  height: 147.354px;
  left: 0px;
  top: 0px;
}
#Ellipse_50_c {
  opacity: 0.543;
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_50_c {
  position: absolute;
  overflow: visible;
  width: 147.354px;
  height: 147.354px;
  left: 0px;
  top: 0px;
}
#Asset_2 {
  opacity: 0.111;
  position: absolute;
  width: 119.815px;
  height: 299.307px;
  left: 10.751px;
  top: 247.106px;
  overflow: visible;
}
#Layer_2 {
  position: absolute;
  width: 119.815px;
  height: 299.307px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#OBJECTS {
  position: absolute;
  width: 119.815px;
  height: 299.307px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_716 {
  fill: rgba(239,55,129,1);
}
.Path_716 {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.281px;
  left: 79.815px;
  top: 238.22px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_717 {
  fill: rgba(239,55,129,1);
}
.Path_717 {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.27px;
  left: 79.815px;
  top: 195.058px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_718 {
  fill: rgba(239,55,129,1);
}
.Path_718 {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.271px;
  left: 79.815px;
  top: 151.895px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_719 {
  fill: rgba(239,55,129,1);
}
.Path_719 {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.255px;
  left: 79.815px;
  top: 108.748px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_720 {
  fill: rgba(239,55,129,1);
}
.Path_720 {
  overflow: visible;
  position: absolute;
  width: 32.992px;
  height: 25.584px;
  left: 7.199px;
  top: 57.432px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_721 {
  fill: rgba(255,255,255,1);
}
.Path_721 {
  overflow: visible;
  position: absolute;
  width: 114.155px;
  height: 293.51px;
  left: 2.856px;
  top: 2.879px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_722 {
  fill: rgba(239,55,129,1);
}
.Path_722 {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.271px;
  left: 79.815px;
  top: 65.571px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_723 {
  fill: rgba(239,55,129,1);
}
.Path_723 {
  overflow: visible;
  position: absolute;
  width: 49.013px;
  height: 33.145px;
  left: 61.267px;
  top: 25.579px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_724 {
  fill: rgba(239,55,129,1);
}
.Path_724 {
  overflow: visible;
  position: absolute;
  width: 28.087px;
  height: 36.791px;
  left: 48.401px;
  top: 7.198px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_725 {
  fill: rgba(239,55,129,1);
}
.Path_725 {
  overflow: visible;
  position: absolute;
  width: 38.353px;
  height: 35.443px;
  left: 13.157px;
  top: 18.166px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_726 {
  fill: rgba(63,59,60,1);
}
.Path_726 {
  overflow: visible;
  position: absolute;
  width: 119.814px;
  height: 299.307px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_44 {
  position: absolute;
  width: 51.904px;
  height: 105.623px;
  left: 59.515px;
  top: 11.611px;
  overflow: visible;
}
#Path_727 {
  fill: rgba(252,172,212,1);
}
.Path_727 {
  overflow: visible;
  position: absolute;
  width: 51.904px;
  height: 105.623px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_45 {
  position: absolute;
  width: 8.19px;
  height: 15.376px;
  left: 104.381px;
  top: 122.848px;
  overflow: visible;
}
#Path_728 {
  fill: rgba(252,172,212,1);
}
.Path_728 {
  overflow: visible;
  position: absolute;
  width: 8.19px;
  height: 15.376px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_729 {
  opacity: 0.5;
  fill: rgba(239,55,129,1);
}
.Path_729 {
  overflow: visible;
  position: absolute;
  width: 103.206px;
  height: 264.642px;
  left: 10.308px;
  top: 26.865px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_46 {
  position: absolute;
  width: 15.925px;
  height: 112.105px;
  left: 81.751px;
  top: 174.411px;
  overflow: visible;
}
#Path_730 {
  fill: rgba(252,172,212,1);
}
.Path_730 {
  overflow: visible;
  position: absolute;
  width: 15.925px;
  height: 112.105px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_47 {
  position: absolute;
  width: 26.912px;
  height: 64.929px;
  left: 20.674px;
  top: 35.104px;
  overflow: visible;
}
#Path_731 {
  fill: rgba(252,172,212,1);
}
.Path_731 {
  overflow: visible;
  position: absolute;
  width: 26.912px;
  height: 64.929px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Asset_2_dt {
  opacity: 0.242;
  transform: translate(-244.249px, -533px) matrix(1,0,0,1,564,690.543) rotate(180deg);
  transform-origin: center;
  position: absolute;
  width: 68px;
  height: 169.87px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Layer_2_du {
  position: absolute;
  width: 68px;
  height: 169.87px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#OBJECTS_dv {
  position: absolute;
  width: 68px;
  height: 169.87px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_716_dw {
  fill: rgba(239,55,129,1);
}
.Path_716_dw {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.618px;
  left: 4.082px;
  top: 18.051px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_717_dx {
  fill: rgba(239,55,129,1);
}
.Path_717_dx {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.612px;
  left: 4.082px;
  top: 42.554px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_718_dy {
  fill: rgba(239,55,129,1);
}
.Path_718_dy {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.612px;
  left: 4.082px;
  top: 67.05px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_719_dz {
  fill: rgba(239,55,129,1);
}
.Path_719_dz {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.604px;
  left: 4.082px;
  top: 91.547px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_720_d {
  fill: rgba(239,55,129,1);
}
.Path_720_d {
  overflow: visible;
  position: absolute;
  width: 18.724px;
  height: 14.52px;
  left: 45.19px;
  top: 122.754px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_721_d {
  fill: rgba(255,255,255,1);
}
.Path_721_d {
  overflow: visible;
  position: absolute;
  width: 64.788px;
  height: 166.58px;
  left: 1.591px;
  top: 1.656px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_722_d {
  fill: rgba(239,55,129,1);
}
.Path_722_d {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.612px;
  left: 4.082px;
  top: 116.043px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_723_d {
  fill: rgba(239,55,129,1);
}
.Path_723_d {
  overflow: visible;
  position: absolute;
  width: 27.817px;
  height: 18.812px;
  left: 5.411px;
  top: 136.541px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_724_d {
  fill: rgba(239,55,129,1);
}
.Path_724_d {
  overflow: visible;
  position: absolute;
  width: 15.94px;
  height: 20.881px;
  left: 24.59px;
  top: 144.904px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_725_d {
  fill: rgba(239,55,129,1);
}
.Path_725_d {
  overflow: visible;
  position: absolute;
  width: 21.767px;
  height: 20.115px;
  left: 38.766px;
  top: 139.444px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_726_d {
  fill: rgba(63,59,60,1);
}
.Path_726_d {
  overflow: visible;
  position: absolute;
  width: 68px;
  height: 169.87px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_44_d {
  position: absolute;
  width: 29.458px;
  height: 59.945px;
  left: 4.765px;
  top: 103.334px;
  overflow: visible;
}
#Path_727_d {
  fill: rgba(252,172,212,1);
}
.Path_727_d {
  overflow: visible;
  position: absolute;
  width: 29.458px;
  height: 59.945px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_45_d {
  position: absolute;
  width: 4.648px;
  height: 8.727px;
  left: 4.111px;
  top: 91.421px;
  overflow: visible;
}
#Path_728_ea {
  fill: rgba(252,172,212,1);
}
.Path_728_ea {
  overflow: visible;
  position: absolute;
  width: 4.648px;
  height: 8.727px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_729_eb {
  opacity: 0.5;
  fill: rgba(239,55,129,1);
}
.Path_729_eb {
  overflow: visible;
  position: absolute;
  width: 58.574px;
  height: 150.196px;
  left: 3.576px;
  top: 4.426px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_46_ec {
  position: absolute;
  width: 9.038px;
  height: 63.624px;
  left: 12.564px;
  top: 7.26px;
  overflow: visible;
}
#Path_730_ed {
  fill: rgba(252,172,212,1);
}
.Path_730_ed {
  overflow: visible;
  position: absolute;
  width: 9.038px;
  height: 63.624px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_47_ee {
  position: absolute;
  width: 15.274px;
  height: 36.85px;
  left: 40.993px;
  top: 113.096px;
  overflow: visible;
}
#Path_731_ef {
  fill: rgba(252,172,212,1);
}
.Path_731_ef {
  overflow: visible;
  position: absolute;
  width: 15.274px;
  height: 36.85px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_26 {
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_26 {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 380.751px;
  height: 158.055px;
  left: 104.751px;
  top: 232px;
}
#ID0xbBHn2 {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.502));
  left: 203.751px;
  top: 289px;
  position: absolute;
  overflow: visible;
  width: 139px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(255,255,255,1);
}
#Amount_Token_A {
  left: 145.751px;
  top: 397px;
  position: absolute;
  overflow: visible;
  width: 245px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgba(201,201,201,1);
}
#A {
  left: 188.751px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 169px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 203px;
  color: rgba(255,255,255,1);
}
#Contract_Adress {
  left: 162.971px;
  top: 554.62px;
  position: absolute;
  overflow: visible;
  width: 215px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: rgba(217,217,217,1);
}
#Wallet_Address {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.502));
  left: 160.751px;
  top: 256px;
  position: absolute;
  overflow: visible;
  width: 215px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgba(201,201,201,1);
}
#Rectangle_77 {
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_77 {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 380.751px;
  height: 118.055px;
  left: 101.751px;
  top: 443px;
}
#Rectangle_78 {
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_78 {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 380.751px;
  height: 118.055px;
  left: 101.751px;
  top: 595px;
}
#Input_ {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.502));
  left: 233.751px;
  top: 465px;
  position: absolute;
  overflow: visible;
  width: 79px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(255,255,255,1);
}
#Input__ep {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.502));
  left: 233.751px;
  top: 615px;
  position: absolute;
  overflow: visible;
  width: 79px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(255,255,255,1);
}
#Group_142 {
  position: absolute;
  width: 545.751px;
  height: 762.456px;
  left: 1163.249px;
  top: 506px;
  overflow: visible;
}
#Rectangle_25_er {
  fill: rgba(185,86,78,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_25_er {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 590.751px;
  height: 663.055px;
  left: 0px;
  top: 144.401px;
}
#Group_43_es {
  position: absolute;
  width: 147.354px;
  height: 147.354px;
  left: 197.699px;
  top: 54.141px;
  overflow: visible;
}
#Ellipse_50_eu {
  opacity: 0.543;
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_50_eu {
  position: absolute;
  overflow: visible;
  width: 147.354px;
  height: 147.354px;
  left: 0px;
  top: 0px;
}
#Ellipse_50_eu {
  opacity: 0.543;
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_50_eu {
  position: absolute;
  overflow: visible;
  width: 147.354px;
  height: 147.354px;
  left: 0px;
  top: 0px;
}
#Asset_2_ev {
  opacity: 0.111;
  position: absolute;
  width: 119.815px;
  height: 299.307px;
  left: 10.751px;
  top: 247.106px;
  overflow: visible;
}
#Layer_2_ew {
  position: absolute;
  width: 119.815px;
  height: 299.307px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#OBJECTS_ex {
  position: absolute;
  width: 119.815px;
  height: 299.307px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_716_ey {
  fill: rgba(239,55,129,1);
}
.Path_716_ey {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.281px;
  left: 79.815px;
  top: 238.22px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_717_ez {
  fill: rgba(239,55,129,1);
}
.Path_717_ez {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.27px;
  left: 79.815px;
  top: 195.058px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_718_e {
  fill: rgba(239,55,129,1);
}
.Path_718_e {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.271px;
  left: 79.815px;
  top: 151.895px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_719_e {
  fill: rgba(239,55,129,1);
}
.Path_719_e {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.255px;
  left: 79.815px;
  top: 108.748px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_720_e {
  fill: rgba(239,55,129,1);
}
.Path_720_e {
  overflow: visible;
  position: absolute;
  width: 32.992px;
  height: 25.584px;
  left: 7.199px;
  top: 57.432px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_721_e {
  fill: rgba(255,255,255,1);
}
.Path_721_e {
  overflow: visible;
  position: absolute;
  width: 114.155px;
  height: 293.51px;
  left: 2.856px;
  top: 2.879px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_722_e {
  fill: rgba(239,55,129,1);
}
.Path_722_e {
  overflow: visible;
  position: absolute;
  width: 32.809px;
  height: 29.271px;
  left: 79.815px;
  top: 65.571px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_723_e {
  fill: rgba(239,55,129,1);
}
.Path_723_e {
  overflow: visible;
  position: absolute;
  width: 49.013px;
  height: 33.145px;
  left: 61.267px;
  top: 25.579px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_724_e {
  fill: rgba(239,55,129,1);
}
.Path_724_e {
  overflow: visible;
  position: absolute;
  width: 28.087px;
  height: 36.791px;
  left: 48.401px;
  top: 7.198px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_725_e {
  fill: rgba(239,55,129,1);
}
.Path_725_e {
  overflow: visible;
  position: absolute;
  width: 38.353px;
  height: 35.443px;
  left: 13.157px;
  top: 18.166px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_726_e {
  fill: rgba(63,59,60,1);
}
.Path_726_e {
  overflow: visible;
  position: absolute;
  width: 119.814px;
  height: 299.307px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_44_e {
  position: absolute;
  width: 51.904px;
  height: 105.623px;
  left: 59.515px;
  top: 11.611px;
  overflow: visible;
}
#Path_727_fa {
  fill: rgba(252,172,212,1);
}
.Path_727_fa {
  overflow: visible;
  position: absolute;
  width: 51.904px;
  height: 105.623px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_45_fb {
  position: absolute;
  width: 8.19px;
  height: 15.376px;
  left: 104.381px;
  top: 122.848px;
  overflow: visible;
}
#Path_728_fc {
  fill: rgba(252,172,212,1);
}
.Path_728_fc {
  overflow: visible;
  position: absolute;
  width: 8.19px;
  height: 15.376px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_729_fd {
  opacity: 0.5;
  fill: rgba(239,55,129,1);
}
.Path_729_fd {
  overflow: visible;
  position: absolute;
  width: 103.206px;
  height: 264.642px;
  left: 10.308px;
  top: 26.865px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_46_fe {
  position: absolute;
  width: 15.925px;
  height: 112.105px;
  left: 81.751px;
  top: 174.411px;
  overflow: visible;
}
#Path_730_ff {
  fill: rgba(252,172,212,1);
}
.Path_730_ff {
  overflow: visible;
  position: absolute;
  width: 15.925px;
  height: 112.105px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_47_fg {
  position: absolute;
  width: 26.912px;
  height: 64.929px;
  left: 20.674px;
  top: 35.104px;
  overflow: visible;
}
#Path_731_fh {
  fill: rgba(252,172,212,1);
}
.Path_731_fh {
  overflow: visible;
  position: absolute;
  width: 26.912px;
  height: 64.929px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Asset_2_fi {
  opacity: 0.242;
  transform: translate(-244.249px, -533px) matrix(1,0,0,1,564,690.543) rotate(180deg);
  transform-origin: center;
  position: absolute;
  width: 68px;
  height: 169.87px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Layer_2_fj {
  position: absolute;
  width: 68px;
  height: 169.87px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#OBJECTS_fk {
  position: absolute;
  width: 68px;
  height: 169.87px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_716_fl {
  fill: rgba(239,55,129,1);
}
.Path_716_fl {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.618px;
  left: 4.082px;
  top: 18.051px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_717_fm {
  fill: rgba(239,55,129,1);
}
.Path_717_fm {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.612px;
  left: 4.082px;
  top: 42.554px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_718_fn {
  fill: rgba(239,55,129,1);
}
.Path_718_fn {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.612px;
  left: 4.082px;
  top: 67.05px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_719_fo {
  fill: rgba(239,55,129,1);
}
.Path_719_fo {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.604px;
  left: 4.082px;
  top: 91.547px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_720_fp {
  fill: rgba(239,55,129,1);
}
.Path_720_fp {
  overflow: visible;
  position: absolute;
  width: 18.724px;
  height: 14.52px;
  left: 45.19px;
  top: 122.754px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_721_fq {
  fill: rgba(255,255,255,1);
}
.Path_721_fq {
  overflow: visible;
  position: absolute;
  width: 64.788px;
  height: 166.58px;
  left: 1.591px;
  top: 1.656px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_722_fr {
  fill: rgba(239,55,129,1);
}
.Path_722_fr {
  overflow: visible;
  position: absolute;
  width: 18.62px;
  height: 16.612px;
  left: 4.082px;
  top: 116.043px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_723_fs {
  fill: rgba(239,55,129,1);
}
.Path_723_fs {
  overflow: visible;
  position: absolute;
  width: 27.817px;
  height: 18.812px;
  left: 5.411px;
  top: 136.541px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_724_ft {
  fill: rgba(239,55,129,1);
}
.Path_724_ft {
  overflow: visible;
  position: absolute;
  width: 15.94px;
  height: 20.881px;
  left: 24.59px;
  top: 144.904px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_725_fu {
  fill: rgba(239,55,129,1);
}
.Path_725_fu {
  overflow: visible;
  position: absolute;
  width: 21.767px;
  height: 20.115px;
  left: 38.766px;
  top: 139.444px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_726_fv {
  fill: rgba(63,59,60,1);
}
.Path_726_fv {
  overflow: visible;
  position: absolute;
  width: 68px;
  height: 169.87px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_44_fw {
  position: absolute;
  width: 29.458px;
  height: 59.945px;
  left: 4.765px;
  top: 103.334px;
  overflow: visible;
}
#Path_727_fx {
  fill: rgba(252,172,212,1);
}
.Path_727_fx {
  overflow: visible;
  position: absolute;
  width: 29.458px;
  height: 59.945px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_45_fy {
  position: absolute;
  width: 4.648px;
  height: 8.727px;
  left: 4.111px;
  top: 91.421px;
  overflow: visible;
}
#Path_728_fz {
  fill: rgba(252,172,212,1);
}
.Path_728_fz {
  overflow: visible;
  position: absolute;
  width: 4.648px;
  height: 8.727px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_729_f {
  opacity: 0.5;
  fill: rgba(239,55,129,1);
}
.Path_729_f {
  overflow: visible;
  position: absolute;
  width: 58.574px;
  height: 150.196px;
  left: 3.576px;
  top: 4.426px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_46_f {
  position: absolute;
  width: 9.038px;
  height: 63.624px;
  left: 12.564px;
  top: 7.26px;
  overflow: visible;
}
#Path_730_f {
  fill: rgba(252,172,212,1);
}
.Path_730_f {
  overflow: visible;
  position: absolute;
  width: 9.038px;
  height: 63.624px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_47_f {
  position: absolute;
  width: 15.274px;
  height: 36.85px;
  left: 40.993px;
  top: 113.096px;
  overflow: visible;
}
#Path_731_f {
  fill: rgba(252,172,212,1);
}
.Path_731_f {
  overflow: visible;
  position: absolute;
  width: 15.274px;
  height: 36.85px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Rectangle_26_f {
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_26_f {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 380.751px;
  height: 158.055px;
  left: 104.751px;
  top: 232px;
}
#ID0xbBHn2_f {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.502));
  left: 203.751px;
  top: 289px;
  position: absolute;
  overflow: visible;
  width: 139px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(255,255,255,1);
}
#Amount_Token_B {
  left: 147.751px;
  top: 397px;
  position: absolute;
  overflow: visible;
  width: 241px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgba(201,201,201,1);
}
#B {
  left: 199.751px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 147px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 203px;
  color: rgba(255,255,255,1);
}
#Contract_Adress_f {
  left: 162.971px;
  top: 554.62px;
  position: absolute;
  overflow: visible;
  width: 215px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: rgba(217,217,217,1);
}
#Wallet_Address_ga {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.502));
  left: 160.751px;
  top: 256px;
  position: absolute;
  overflow: visible;
  width: 215px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgba(201,201,201,1);
}
#Rectangle_77_gb {
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_77_gb {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 380.751px;
  height: 118.055px;
  left: 101.751px;
  top: 443px;
}
#Rectangle_78_gc {
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_78_gc {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 380.751px;
  height: 118.055px;
  left: 101.751px;
  top: 595px;
}
#Input__gd {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.502));
  left: 233.751px;
  top: 465px;
  position: absolute;
  overflow: visible;
  width: 79px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(255,255,255,1);
}
#Input__ge {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.502));
  left: 233.751px;
  top: 615px;
  position: absolute;
  overflow: visible;
  width: 79px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(255,255,255,1);
}
#Group_143 {
  position: absolute;
  width: 540.486px;
  height: 152.416px;
  left: 690px;
  top: 1684px;
  overflow: visible;
}
#Rectangle_80 {
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_80 {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.502));
  position: absolute;
  overflow: visible;
  width: 585.486px;
  height: 197.416px;
  left: 0px;
  top: 0px;
}
#Generate_Smartcontract__Addr {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.451));
  left: 41px;
  top: 33.013px;
  position: absolute;
  overflow: visible;
  width: 459px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  color: rgba(255,255,255,1);
}
#Group_144 {
  position: absolute;
  width: 540.486px;
  height: 171.416px;
  left: 690px;
  top: 1470px;
  overflow: visible;
}
#Rectangle_83 {
  fill: rgba(242,135,92,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_83 {
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.502));
  position: absolute;
  overflow: visible;
  width: 585.486px;
  height: 216.416px;
  left: 0px;
  top: 0px;
}
#Time_Set_ {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.451));
  left: 28px;
  top: 35px;
  position: absolute;
  overflow: visible;
  width: 185px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  color: rgba(255,255,255,1);
}
#Rectangle_84 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_84 {
  position: absolute;
  overflow: visible;
  width: 228px;
  height: 70px;
  left: 289px;
  top: 21px;
}
#Group_145 {
  position: absolute;
  width: 110px;
  height: 54px;
  left: 403px;
  top: 101px;
  overflow: visible;
}
#Rectangle_85 {
  fill: rgba(239,95,95,1);
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_85 {
  position: absolute;
  overflow: visible;
  width: 110px;
  height: 54px;
  left: 0px;
  top: 0px;
}
#Set {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.451));
  left: 31px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 49px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  color: rgba(255,255,255,1);
}
#Group_655 {
  position: absolute;
  width: 1920px;
  height: 246.215px;
  left: 0px;
  top: -96.215px;
  overflow: visible;
}
#Group_150 {
  position: absolute;
  width: 1920px;
  height: 246.215px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_11583 {
  fill: rgba(121,66,40,1);
}
.Path_11583 {
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.161));
  overflow: visible;
  position: absolute;
  width: 1980px;
  height: 306.215px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_438 {
  position: absolute;
  width: 118px;
  height: 96.258px;
  left: 920px;
  top: 113.957px;
  overflow: visible;
}
#Rectangle_254 {
  opacity: 0.836;
  fill: rgba(208,118,41,1);
}
.Rectangle_254 {
  position: absolute;
  overflow: visible;
  width: 118px;
  height: 74px;
  left: 0px;
  top: 22.258px;
}
#ktktlogo {
  position: absolute;
  width: 30.735px;
  height: 47.515px;
  left: 73.666px;
  top: 0px;
  overflow: visible;
}
#CACAOSWAP {
  left: 320px;
  top: 159.215px;
  position: absolute;
  overflow: visible;
  width: 139px;
  white-space: nowrap;
  text-align: left;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(254,220,123,1);
}
#KTKT__FACTORY {
  left: 499px;
  top: 148.215px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(254,220,123,1);
}
#SWEET__BAR {
  left: 641px;
  top: 148.215px;
  position: absolute;
  overflow: visible;
  width: 81px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(254,220,123,1);
}
#CHOCOLOOMPA_POOLS {
  left: 747px;
  top: 148.215px;
  position: absolute;
  overflow: visible;
  width: 167px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(254,220,123,1);
}
#BECOME_CHOCOLOOMPA {
  left: 1041px;
  top: 148.215px;
  position: absolute;
  overflow: visible;
  width: 167px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(254,220,123,1);
}
#SWEET_VEGAS {
  left: 1233px;
  top: 148.215px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(254,220,123,1);
}
#CHOCO_LOTTO {
  left: 1335px;
  top: 148.215px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(254,220,123,1);
}
#OTC_CHOCO {
  left: 939px;
  top: 148.215px;
  position: absolute;
  overflow: visible;
  width: 77px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(255,255,255,1);
}
#Group_404 {
  position: absolute;
  width: 340.132px;
  height: 73.037px;
  left: 1481px;
  top: 134.215px;
  overflow: visible;
}
#Layer_x0020_1 {
  position: absolute;
  width: 340.132px;
  height: 73.037px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_11583_g {
  fill: rgba(240,134,27,1);
}
.Path_11583_g {
  overflow: visible;
  position: absolute;
  width: 307.56px;
  height: 73.037px;
  left: 32.572px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_403 {
  position: absolute;
  width: 340.132px;
  height: 73.037px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_11639 {
  fill: transparent;
}
.Path_11639 {
  overflow: visible;
  position: absolute;
  width: 340.132px;
  height: 73.037px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Connect_to {
  left: 100px;
  top: 24px;
  position: absolute;
  overflow: visible;
  width: 142px;
  white-space: nowrap;
  text-align: left;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: rgba(255,255,255,1);
}
#Layer_x0020_1_g {
  position: absolute;
  width: 226.765px;
  height: 108.494px;
  left: 67px;
  top: 117.215px;
  overflow: visible;
}
#_105553433408480 {
  position: absolute;
  width: 226.765px;
  height: 108.494px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_405 {
  position: absolute;
  width: 83.481px;
  height: 108.494px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_11640 {
  fill: rgba(115,64,21,1);
}
.Path_11640 {
  overflow: visible;
  position: absolute;
  width: 49.735px;
  height: 38.565px;
  left: 6.613px;
  top: 8.388px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11641 {
  fill: rgba(0,0,0,1);
}
.Path_11641 {
  overflow: visible;
  position: absolute;
  width: 83.481px;
  height: 102.072px;
  left: 0px;
  top: 6.421px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11642 {
  fill: rgba(250,123,123,1);
}
.Path_11642 {
  overflow: visible;
  position: absolute;
  width: 37.255px;
  height: 52.459px;
  left: 32.63px;
  top: 45.821px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11643 {
  fill: rgba(239,36,36,1);
}
.Path_11643 {
  overflow: visible;
  position: absolute;
  width: 38.302px;
  height: 44.92px;
  left: 43.199px;
  top: 60.256px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11644 {
  fill: rgba(239,36,36,1);
}
.Path_11644 {
  overflow: visible;
  position: absolute;
  width: 34.656px;
  height: 34.944px;
  left: 21.57px;
  top: 46.095px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11645 {
  fill: rgba(226,226,251,1);
}
.Path_11645 {
  overflow: visible;
  position: absolute;
  width: 28.222px;
  height: 20.98px;
  left: 7.801px;
  top: 46.626px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11646 {
  fill: rgba(226,226,251,1);
}
.Path_11646 {
  overflow: visible;
  position: absolute;
  width: 34.537px;
  height: 21.234px;
  left: 35.997px;
  top: 32.956px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11647 {
  fill: rgba(140,93,43,1);
}
.Path_11647 {
  overflow: visible;
  position: absolute;
  width: 15.019px;
  height: 29.343px;
  left: 1.232px;
  top: 18.498px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11648 {
  fill: rgba(239,36,36,1);
}
.Path_11648 {
  overflow: visible;
  position: absolute;
  width: 12.333px;
  height: 20.031px;
  left: 18.914px;
  top: 61.089px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11649 {
  fill: rgba(248,145,145,1);
}
.Path_11649 {
  overflow: visible;
  position: absolute;
  width: 12.768px;
  height: 16.153px;
  left: 28.493px;
  top: 81.861px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11650 {
  fill: rgba(0,0,0,1);
}
.Path_11650 {
  overflow: visible;
  position: absolute;
  width: 25.809px;
  height: 37.254px;
  left: 43.68px;
  top: 60.553px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11651 {
  fill: rgba(184,184,217,1);
}
.Path_11651 {
  overflow: visible;
  position: absolute;
  width: 11.818px;
  height: 9.254px;
  left: 30.582px;
  top: 45.897px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11652 {
  fill: rgba(0,0,0,1);
}
.Path_11652 {
  overflow: visible;
  position: absolute;
  width: 8.839px;
  height: 12.017px;
  left: 28.647px;
  top: 10.112px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11653 {
  fill: rgba(0,0,0,1);
}
.Path_11653 {
  overflow: visible;
  position: absolute;
  width: 7.572px;
  height: 2.957px;
  left: 46.044px;
  top: 10.535px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11654 {
  fill: rgba(0,0,0,1);
}
.Path_11654 {
  overflow: visible;
  position: absolute;
  width: 6.349px;
  height: 4.989px;
  left: 41.781px;
  top: 4.428px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11655 {
  fill: rgba(0,0,0,1);
}
.Path_11655 {
  overflow: visible;
  position: absolute;
  width: 2.236px;
  height: 7.635px;
  left: 38.653px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_408 {
  position: absolute;
  width: 195.969px;
  height: 86.554px;
  left: 30.796px;
  top: 10.494px;
  overflow: visible;
}
#Group_406 {
  position: absolute;
  width: 179.492px;
  height: 46.55px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_11656 {
  fill: rgba(140,93,43,1);
}
.Path_11656 {
  overflow: visible;
  position: absolute;
  width: 179.492px;
  height: 46.55px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11657 {
  fill: rgba(255,255,255,1);
}
.Path_11657 {
  overflow: visible;
  position: absolute;
  width: 175.458px;
  height: 42.475px;
  left: 2.02px;
  top: 2.02px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11658 {
  fill: rgba(115,64,21,1);
}
.Path_11658 {
  overflow: visible;
  position: absolute;
  width: 171.476px;
  height: 38.493px;
  left: 4.011px;
  top: 4.005px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_407 {
  position: absolute;
  width: 194.997px;
  height: 48.107px;
  left: 0.972px;
  top: 38.447px;
  overflow: visible;
}
#Path_11659 {
  fill: rgba(140,93,43,1);
}
.Path_11659 {
  overflow: visible;
  position: absolute;
  width: 194.997px;
  height: 48.107px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11660 {
  fill: rgba(255,255,255,1);
}
.Path_11660 {
  overflow: visible;
  position: absolute;
  width: 191.432px;
  height: 44.565px;
  left: 2.772px;
  top: 40.235px;
  transform: matrix(1,0,0,1,0,0);
}
#Path_11661 {
  fill: rgba(115,64,21,1);
}
.Path_11661 {
  overflow: visible;
  position: absolute;
  width: 187.352px;
  height: 40.444px;
  left: 4.792px;
  top: 42.279px;
  transform: matrix(1,0,0,1,0,0);
}
#Layer_x0020_1_h {
  position: absolute;
  width: 46.383px;
  height: 46.383px;
  left: 1842.712px;
  top: 148.215px;
  overflow: visible;
}
#Icon_ionic-ios-settings {
  fill: rgba(255,255,255,1);
}
.Icon_ionic-ios-settings {
  overflow: visible;
  position: absolute;
  width: 46.383px;
  height: 46.383px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Group_415 {
  position: absolute;
  width: 46.383px;
  height: 46.383px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_11822 {
  fill: transparent;
}
.Path_11822 {
  overflow: visible;
  position: absolute;
  width: 46.383px;
  height: 46.383px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}