
#Group_353 {
  width: 611px;
  height: 476px;
  z-index: 1;
  overflow: hidden;
}
#Rectangle_13 {
  fill: rgba(92,41,16,1);
  stroke: rgba(112,112,112,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_13 {
  filter: drop-shadow(-10px 10px 50px rgba(0, 0, 0, 0.902));
  position: absolute;
  overflow: visible;
  width: 761px;
  height: 626px;
  left: 0px;
  top: 0px;
}
#Transaction_Settings {
  left: 45.658px;
  top: 54.544px;
  position: absolute;
  overflow: visible;
  width: 253px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(255,255,255,1);
}
#Rectangle_58 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_58 {
  position: absolute;
  overflow: visible;
  width: 73.554px;
  height: 54.964px;
  left: 40px;
  top: 125.523px;
}
#Slippage_Tolerance {
  left: 45.658px;
  top: 90.342px;
  position: absolute;
  overflow: visible;
  width: 231px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(160,160,160,1);
}
#ID01 {
  left: 48.891px;
  top: 137.647px;
  position: absolute;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(160,160,160,1);
}
#Rectangle_59 {
  fill: rgba(184,115,58,1);
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_59 {
  position: absolute;
  overflow: visible;
  width: 73.554px;
  height: 54.964px;
  left: 125.679px;
  top: 125.523px;
}
#ID05 {
  left: 134.57px;
  top: 137.647px;
  position: absolute;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(255,255,255,1);
}
#Rectangle_60 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_60 {
  position: absolute;
  overflow: visible;
  width: 73.554px;
  height: 54.964px;
  left: 211.357px;
  top: 125.523px;
}
#ID1 {
  left: 231.565px;
  top: 137.647px;
  position: absolute;
  overflow: visible;
  width: 33px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  color: rgba(160,160,160,1);
}
#Rectangle_61 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_61 {
  position: absolute;
  overflow: visible;
  width: 148.725px;
  height: 54.964px;
  left: 402.917px;
  top: 125.523px;
}
#Rectangle_327 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_327 {
  position: absolute;
  overflow: visible;
  width: 64.725px;
  height: 40.964px;
  left: 486.917px;
  top: 373.523px;
}
#ID00 {
  left: 477.279px;
  top: 137.647px;
  position: absolute;
  overflow: visible;
  width: 57px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(160,160,160,1);
}
#Transaction_Deadline {
  left: 45.658px;
  top: 210.077px;
  position: absolute;
  overflow: visible;
  width: 261px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(160,160,160,1);
}
#Rectangle_62 {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_62 {
  position: absolute;
  overflow: visible;
  width: 148.725px;
  height: 54.964px;
  left: 45.658px;
  top: 247.642px;
}
#ID12 {
  left: 133.762px;
  top: 259.767px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(160,160,160,1);
}
#minutes {
  left: 203.274px;
  top: 265.425px;
  position: absolute;
  overflow: visible;
  width: 101px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(160,160,160,1);
}
#Interface_Settings {
  left: 45.658px;
  top: 345.197px;
  position: absolute;
  overflow: visible;
  width: 219px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(248,248,248,1);
}
#Toggle_Expert_Mode {
  left: 45.658px;
  top: 380.761px;
  position: absolute;
  overflow: visible;
  width: 239px;
  white-space: nowrap;
  text-align: center;
  font-family: Cooper Black;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(160,160,160,1);
}
#Ellipse_259 {
  fill: rgba(255,255,255,1);
}
.Ellipse_259 {
  position: absolute;
  overflow: visible;
  width: 25px;
  height: 25px;
  left: 495px;
  top: 381.544px;
}